@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    
    --bgclr: #333;
    --fontclr1: #fff;
    --fontclr2: #7d7b7b;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #64ace7;
}

.box
{
    position: relative;
    width: 400px;
}

.box .container
{
    position: relative;
    width: 100%;
    padding: 25px;
    background: #d3d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
    padding-bottom: 50px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.container .inputBox
{
    position: relative;
    width: 100%;
    background: var(--bgclr);
    padding: 8px;
    border-radius: 25px;
}

.container .inputBox input
{
    position: relative;
    width: 100%;
    outline: none;
    border: none;
    padding: 5px 15px;
    background: var(--bgclr);
    color: var(--fontclr1);
    font-size: 17px; 
}

.container .inputBox input::placeholder
{
    color: var(--fontclr2);
    font-size: 1.1em;
    font-weight: 600
}

.container .strengthBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #cac9c9;
    border-radius: 10px;
}

.container .strengthBar::before
{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    transition: 0.5s;
}

.container.weak .strengthBar::before
{
    width: 20%;
    background: #f00;
    filter: drop-shadow(0 0 15px #f00)  
            drop-shadow(0 0 25px #f00)  
}

.container.medium .strengthBar::before
{
    width: 55%;
    background: #f2a203;
    filter: drop-shadow(0 0 15px #f2a203)  
            drop-shadow(0 0 25px #f2a203)  
}

.container.strong .strengthBar::before
{
    width: 100%;
    background: #03ca03;
    filter: drop-shadow(0 0 15px #03ca03)  
            drop-shadow(0 0 25px #03ca03)  
}

.container .strengthBar::after
{
    position: absolute;
    top: -25px;
    left: 15px;
    font-size: 0.85em;
    font-weight: 600;
    color: #111;
}

.container.weak .strengthBar::after
{
    content: 'Your password is weak';
    color: #f00;
    filter: drop-shadow(0 0 15px #f00)    
}

.container.medium .strengthBar::after
{
    content: 'Your password is medium';
    color: #c98806;
    filter: drop-shadow(0 0 15px #ffd634)    
}

.container.strong .strengthBar::after
{
    content: 'Your password is strong';
    color: #049e04;
    filter: drop-shadow(0 0 15px #03ca03)    
}

.container .inputBox #showBtn
{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 5px;
    right: 7px;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .inputBox #showBtn::before
{
    content: '\f06e';
    font-family: fontAwesome;
    font-size: 1.4em;    
    color: var(--fontclr1);
}

.container .inputBox #showBtn.show::before
{
    content: '\f070';
}

.box .validation
{
    background: #17354e;
    padding: 10px;
    margin-top: 25px;
    border-radius: 4px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.validation ul
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.validation ul li
{
    position: relative;
    list-style: none;
    color: var(--fontclr1);
    font-size: 15px;
    font-weight: 300;
    transition: 0.5s;
}

.validation ul li.valid
{
    color: var(--fontclr2);
}

.validation ul li::before
{
    content: '\f192';
    display: inline-flex;
    width: 20px;
    height: 10px;
    margin-right: 8px;
    font-family: fontAwesome;
}

.validation ul li.valid::before
{
    content: '\f00c';
    color: #0f0;
}

@media screen and (max-width: 427px){
    .box{width: 380px;}
    .box .container{padding: 25px; padding-bottom: 45px;}
}

@media screen and (max-width: 376px){
    .box{width: 340px;}
    .box .container{padding: 23px; padding-bottom: 40px;}
}

@media screen and (max-width: 321px){
    .box{width: 280px; }
    .box .container{padding: 16px; padding-bottom: 37px;}
}
@media screen and (max-width: 281px){
    .box{width: 260px;}
    .box .container{padding: 14px; padding-bottom: 40px;}
    .container .inputBox{padding: 6.5px;}
    .container .inputBox input{ padding: 3px 8px; font-size: 15px; }
    .container .inputBox #showBtn{height: 35px; width: 35px; top: 3px; right: 5px;}
    .container .inputBox #showBtn::before{ font-size: 1.2em;}
    .validation ul li{font-size: 13px;}
}